
        <div ng-include="'templates/header.html'"></div>
     
        <div class="container" ng-controller="AddPostCtrl">
     
            <form class="form-horizontal" ng-submit="AddPost(files)">
                <fieldset>
     
                    <!-- Form Name -->
                    <legend>Create Post</legend>
                    
                    <!-- Category select-->
                    <div class="form-group" >
                        <label class="col-md-4 control-label" for="txtTitle">Category</label>
                            <div class="col-md-4">
                                <select ng-model="Category" class="form-control"  autofocus>
                                  <option value="Facilities">Facilities</option>
                                  <option value="Offers">Offers</option>
                                  <option value="Events">Events</option>
                                  <option value="Restaurant">Restaurant</option>
                                </select>
         
                            </div>
                    </div>

     
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Title</label>
                            <div class="col-md-4">
                                <input id="txtTitle" name="txtTitle" ng-model="article.title" type="text" placeholder="placeholder" class="form-control input-md">
         
                            </div>
                    </div>
     
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtPost">Post</label>
                            <div class="col-md-4">
                                <textarea class="form-control" rows="3" id="txtPost" ng-model="article.post" name="txtPost"></textarea>
                            </div>
                    </div>

                    <!-- Images -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="pictures">Add Pictures</label>
                            <div class="col-md-4">
                                <input id="pictures" type="file" ngf-select ng-model="files"  name="file"  
                                  accept="image/*" ngf-max-size="2MB" ngf-multiple="true" ngf-keep="true" ngf-keep-distinct="true" class="btn btn-primary"/>
                            </div>
                    </div>

                    <!-- Show image thumb and remove option -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2" ng-repeat="file in files">
                               <img ngf-thumbnail="!file.$error && file" class="thumb"> <span class="glyphicon glyphicon-remove-circle" ng-click="remove(files, $index)"></span>
                            </div>
                        </div>
                    </div>

     
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                            <div class="col-md-4">
                                <input id="singlebutton" ng-disabled="!article.title || !article.post" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
                            </div>
                    </div>
     
                </fieldset>
            </form>
     
     
        </div>
    