<div ng-controller="NavbarCtrl" class="blog-masthead">
            <div class="container" >
                <nav class="blog-nav">
                    <a class="blog-nav-item" ng-class="{active : isRouteActive('/home')}" href="#/home">Home</a>
                    <a class="blog-nav-item " ng-class="{active : isRouteActive('/addPost')}" href="#/addPost">Add Post</a>
                    <a class="blog-nav-item " style="cursor:pointer;" ng-click="logout();">Logout</a>
                </nav>
            </div>
        </div>