<div ng-controller="NavbarCtrl" class="page-masthead">
            <div class="container" >
                <nav class="page-nav">
                    <a class="page-nav-item" ng-class="{active : isRouteActive('/home')}" href="#/home">Home</a>
                    <a class="page-nav-item " ng-class="{active : isRouteActive('/addCategory')}" href="#/addCategory">Add Category</a>
                    <a class="page-nav-item " style="cursor:pointer;" ng-click="logout();">Logout</a>
                </nav>
            </div>
        </div>